@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    width: 800px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
    text-align:center;
}

.card-body h5{
    color:white;
    text-align:center;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    text-align: center;
    width: 130px;
    padding-bottom: 10px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}