{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Villes{% endblock %}

{% block body %}
    <h1>Gérer les villes</h1>
    <section>
        Afficher les villes et pouvoir ajouter, modifier et supprimer
    </section>
{% endblock %}