{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Profil{% endblock %}

{% block body %}
<h1>Mon Profil</h1>
    <section>
        Afficher le profil et pouvoir le modifier
        avec bouton pour enregistrer qui renvoie vers l'accueil,
        et un bouton annuler, pour annuler la saisie.
    </section>
{% endblock %}