{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <section>
        Pouvoir créer, ajouter une sortie.
    </section>
{% endblock %}